Repository microsoft/openvmm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @microsoft/openvmm-maintain, @microsoft/openvmm-ci-reviewers, @microsoft/openvmm-vtl2-settings-approvers, @microsoft/openvmm-vmbus, @microsoft/openvmm-storage, @microsoft/openvmm-dependency-reviewers

Fixing build failures from PR
  vm/devices/storage/disk_nvme/nvme_driver/fuzz/Cargo.toml
  vm/devices/storage/disk_nvme/nvme_driver/fuzz/fuzz_nvme_driver.rs
Owners: @microsoft/openvmm-maintain, @microsoft/openvmm-storage

Adding in the Cargo.lock file
  Cargo.lock
Owners: @microsoft/openvmm-dependency-reviewers

Refactoring RAM Disk to use the convenience function instead
  vm/devices/storage/disk_nvme/nvme_driver/fuzz/fuzz_nvme_driver.rs
Owners: @microsoft/openvmm-maintain, @microsoft/openvmm-storage

removing some unused imports
  vm/devices/storage/disk_nvme/nvme_driver/fuzz/fuzz_nvme_driver.rs
Owners: @microsoft/openvmm-maintain, @microsoft/openvmm-storage

Now using parking_lot::Mutex
  Cargo.lock
  vm/devices/storage/disk_nvme/nvme_driver/fuzz/Cargo.toml
  vm/devices/storage/disk_nvme/nvme_driver/fuzz/fuzz_emulated_device.rs
  vm/devices/storage/disk_nvme/nvme_driver/fuzz/fuzz_main.rs
Owners: @microsoft/openvmm-dependency-reviewers, @microsoft/openvmm-maintain, @microsoft/openvmm-storage

Sorting dependencies
  vm/devices/storage/disk_nvme/nvme_driver/fuzz/Cargo.toml
Owners: @microsoft/openvmm-maintain, @microsoft/openvmm-storage

Fixing formatting errors
  vm/devices/storage/disk_nvme/nvme_driver/fuzz/fuzz_emulated_device.rs
  vm/devices/storage/disk_nvme/nvme_driver/fuzz/fuzz_main.rs
  vm/devices/storage/disk_nvme/nvme_driver/fuzz/fuzz_nvme_driver.rs
Owners: @microsoft/openvmm-maintain, @microsoft/openvmm-storage

Trying to appease the linter
  vm/devices/storage/disk_nvme/nvme_driver/fuzz/fuzz_main.rs
  vm/devices/storage/disk_nvme/nvme_driver/fuzz/fuzz_nvme_driver.rs
Owners: @microsoft/openvmm-maintain, @microsoft/openvmm-storage

One last try to appease the linter
  vm/devices/storage/disk_nvme/nvme_driver/fuzz/fuzz_nvme_driver.rs
Owners: @microsoft/openvmm-maintain, @microsoft/openvmm-storage

One last try to fix the fmt errors
  vm/devices/storage/disk_nvme/nvme_driver/fuzz/Cargo.toml
Owners: @microsoft/openvmm-maintain, @microsoft/openvmm-storage

Revert "Don't install nodejs in CI (#543)"
  flowey/flowey_lib_common/src/install_nodejs.rs
  flowey/flowey_lib_common/src/lib.rs
  flowey/flowey_lib_hvlite/src/_jobs/cfg_common.rs
  flowey/flowey_lib_hvlite/src/_jobs/cfg_versions.rs
Owners: @microsoft/openvmm-maintain

Fixes
  guest_test_uefi/src/uefi/rt.rs
  openhcl/sidecar/src/arch/x86_64/mod.rs
  openhcl/sidecar/src/main.rs
  support/sev_guest_device/src/ioctl.rs
  support/sev_guest_device/src/lib.rs
  support/tdx_guest_device/src/ioctl.rs
  support/tdx_guest_device/src/lib.rs
  vm/devices/support/fs/lxutil/src/lib.rs
Owners: @microsoft/openvmm-maintain

Add positive test for AkvKeyReleaseJwtHelper::from(&u8)
  openhcl/underhill_attestation/src/igvm_attest/key_release.rs
Owners: @microsoft/openvmm-maintain

Test behavior of JWT parsing with empty signature, and assert JWT contents
  openhcl/underhill_attestation/src/igvm_attest/key_release.rs
Owners: @microsoft/openvmm-maintain

Add test to verification of non RS256 algorithms
  openhcl/underhill_attestation/src/igvm_attest/key_release.rs
Owners: @microsoft/openvmm-maintain

Add negative test for verification of inconsistent RS256 signature (key is not actually RS256)
  openhcl/underhill_attestation/src/igvm_attest/key_release.rs
Owners: @microsoft/openvmm-maintain

Update OHCL kernel to 6.6.63.1
  .github/workflows/openvmm-ci.yaml
  .github/workflows/openvmm-pr.yaml
  flowey/flowey_lib_hvlite/src/_jobs/cfg_versions.rs
  flowey/flowey_lib_hvlite/src/download_openhcl_kernel_package.rs
Owners: @microsoft/openvmm-ci-reviewers, @microsoft/openvmm-maintain

Successfully validate verify_jwt_signature function
  openhcl/underhill_attestation/src/igvm_attest/key_release.rs
Owners: @microsoft/openvmm-maintain

Initial draft of successful JWT verification from JWT object
  openhcl/underhill_attestation/src/igvm_attest/key_release.rs
Owners: @microsoft/openvmm-maintain

Remove need for fake const header and signature
  openhcl/underhill_attestation/src/igvm_attest/key_release.rs
Owners: @microsoft/openvmm-maintain

Properly generate ciphertext in JWT key and add test to validate getting wrapped key from JWT
  openhcl/underhill_attestation/src/igvm_attest/key_release.rs
Owners: @microsoft/openvmm-maintain

Add doc comments to helper test functions and add test to verify failure in when empty x5c is validated
  openhcl/underhill_attestation/src/igvm_attest/key_release.rs
Owners: @microsoft/openvmm-maintain

Add negative test to verify failure when certificates in x5c have mismatched signatures
  openhcl/underhill_attestation/src/igvm_attest/key_release.rs
Owners: @microsoft/openvmm-maintain

Add negative test to verify failure when certificates in x5c have mismatched subjects and issuers
  openhcl/underhill_attestation/src/igvm_attest/key_release.rs
Owners: @microsoft/openvmm-maintain

Remove needless borrows
  openhcl/underhill_attestation/src/igvm_attest/key_release.rs
Owners: @microsoft/openvmm-maintain

irr-proxy filter code complete for hardware CVM (SNP/TDX), compiling, testt pendiing
  openhcl/hcl/src/ioctl.rs
  openhcl/hcl/src/protocol.rs
  openhcl/virt_mshv_vtl/src/lib.rs
  openhcl/virt_mshv_vtl/src/processor/hardware_cvm/mod.rs
  openhcl/virt_mshv_vtl/src/processor/mod.rs
  openhcl/virt_mshv_vtl/src/processor/mshv/arm64.rs
  openhcl/virt_mshv_vtl/src/processor/mshv/x64.rs
  openhcl/virt_mshv_vtl/src/processor/snp/mod.rs
  openhcl/virt_mshv_vtl/src/processor/tdx/mod.rs
  openvmm/hvlite_core/src/partition.rs
  vmm_core/virt_hvf/src/lib.rs
  vmm_core/virt_kvm/src/arch/aarch64/mod.rs
  vmm_core/virt_kvm/src/arch/x86_64/mod.rs
  vmm_core/virt_mshv/src/lib.rs
  vmm_core/virt_whp/src/lib.rs
Owners: @microsoft/openvmm-maintain

FIX: Moved filter update after SINT is updated
  openhcl/virt_mshv_vtl/src/processor/mod.rs
Owners: @microsoft/openvmm-maintain

When parsing a JWT from raw bytes, return an error if the data, header, or body are not UTF-8 encoded
  openhcl/underhill_attestation/src/igvm_attest/key_release.rs
Owners: @microsoft/openvmm-maintain

Automatic cargo xtask fmt fixups
  openvmm/hvlite_core/src/partition.rs
  vmm_core/virt_hvf/src/lib.rs
  vmm_core/virt_kvm/src/arch/x86_64/mod.rs
  vmm_core/virt_mshv/src/lib.rs
  vmm_core/virt_whp/src/lib.rs
Owners: @microsoft/openvmm-maintain

PR formatting feedback
  vm/devices/storage/disk_nvme/nvme_driver/fuzz/fuzz_nvme_driver.rs
Owners: @microsoft/openvmm-maintain, @microsoft/openvmm-storage

PR feedback: add comments clarifying fuzz target.
  vm/devices/storage/disk_nvme/nvme_driver/fuzz/fuzz_emulated_device.rs
  vm/devices/storage/disk_nvme/nvme_driver/fuzz/fuzz_nvme_driver.rs
  vm/devices/storage/disk_nvme/nvme_driver/src/driver.rs
Owners: @microsoft/openvmm-maintain, @microsoft/openvmm-storage

.github/CODEOWNERS:

# File containing policy for file ownership

# Reviewers for all files in the repository
* @microsoft/openvmm-maintain

# Any CI changes require special approval
/ci/ @microsoft/openvmm-ci-reviewers
/.github/ @microsoft/openvmm-ci-reviewers

# Areas with specific maintainers. In some cases, general maintainers can also approve.

# VTL2 settings is an API consumed by various partner teams. VTL2 Settings
# approvers evaluate for consistency and to help ensure no breaking changes
/vm/devices/get/underhill_config/* @microsoft/openvmm-vtl2-settings-approvers

# Vmbus
/vm/devices/vmbus/ @microsoft/openvmm-maintain @microsoft/openvmm-vmbus

# Storage
/vm/devices/storage @microsoft/openvmm-maintain @microsoft/openvmm-storage

# Cargo dependencies
/Cargo.lock @microsoft/openvmm-dependency-reviewers
