Repository microsoft/openvmm, pull requests merged in 2024-12, with the labels that each got.

#407 Use VTL-aware direct hypercall to get/set registers when possible
  openhcl/hcl/src/ioctl.rs
  openhcl/hcl/src/ioctl/aarch64.rs
  openhcl/hcl/src/ioctl/snp.rs
  openhcl/hcl/src/ioctl/tdx.rs
  openhcl/hcl/src/ioctl/x64.rs
  openhcl/virt_mshv_vtl/src/processor/mod.rs
  openhcl/virt_mshv_vtl/src/processor/mshv/arm64.rs
  openhcl/virt_mshv_vtl/src/processor/mshv/x64.rs
  openhcl/virt_mshv_vtl/src/processor/snp/mod.rs
  openhcl/virt_mshv_vtl/src/processor/tdx/mod.rs
Labels: release_2411

#388 Cherry-pick: virt_mshv_vtl: flush deferred actions during servicing
  openhcl/hcl/src/ioctl.rs
  openhcl/virt_mshv_vtl/src/processor/mod.rs
Labels: release_2411

#416 virtiofs: add mount options to resource
  Guide/src/reference/openvmm/management/cli.md
  openvmm/openvmm_entry/src/cli_args.rs
  openvmm/openvmm_entry/src/lib.rs
  openvmm/openvmm_entry/src/ttrpc/mod.rs
  vm/devices/virtio/virtio_resources/src/lib.rs
  vm/devices/virtio/virtiofs/src/resolver.rs
Labels: Guide

#428 VmBus: disable client ID support in OpenHCL when not isolated
  Cargo.lock
  openhcl/underhill_core/src/worker.rs
  openvmm/hvlite_core/Cargo.toml
  openvmm/hvlite_core/src/worker/dispatch.rs
  vm/devices/vmbus/vmbus_server/src/lib.rs
Labels: backport_2411

#346 Added code to get the tsc time on HW-isolated VMs (TDX) - Issue 345.
  openhcl/openhcl_boot/src/arch/x86_64/tdx.rs
  openhcl/openhcl_boot/src/main.rs
  vm/x86/tdcall/src/lib.rs
Labels: backport_2411

#431 openhcl: log how large the saved state buffer is for servicing (#400)
  openhcl/underhill_core/src/worker.rs
  vm/devices/get/guest_emulation_device/src/lib.rs
Labels: release_2411

#418 openhcl/page_pool_alloc: support save restore
  Cargo.lock
  openhcl/page_pool_alloc/Cargo.toml
  openhcl/page_pool_alloc/src/lib.rs
  openhcl/underhill_core/src/dispatch/mod.rs
  openhcl/underhill_core/src/servicing.rs
  openhcl/underhill_core/src/worker.rs
Labels: backport_2411

#454 Added code to get the tsc time on HW-isolated VMs (TDX) - Issue 345
  openhcl/openhcl_boot/src/arch/x86_64/tdx.rs
  openhcl/openhcl_boot/src/main.rs
  vm/x86/tdcall/src/lib.rs
Labels: release_2411

#452 tpm: Block servicing requests when there is an outstanding AK cert request
  vm/devices/tpm/src/lib.rs
Labels: backport_2411

#459 tpm: Block servicing requests when there is an outstanding AK cert request
  vm/devices/tpm/src/lib.rs
Labels: release_2411

#472 vmbus: pass channel GuestMemory for SimpleVmbusDevice::open (#455)
  Cargo.lock
  vm/devices/get/guest_crash_device/Cargo.toml
  vm/devices/get/guest_crash_device/src/lib.rs
  vm/devices/get/guest_emulation_device/Cargo.toml
  vm/devices/get/guest_emulation_device/src/lib.rs
  vm/devices/get/guest_emulation_device/src/test_utilities.rs
  vm/devices/get/guest_emulation_log/Cargo.toml
  vm/devices/get/guest_emulation_log/src/lib.rs
  vm/devices/hyperv_ic/Cargo.toml
  vm/devices/hyperv_ic/src/shutdown.rs
  vm/devices/pci/vpci/src/device.rs
  vm/devices/serial/vmbus_serial_host/Cargo.toml
  vm/devices/serial/vmbus_serial_host/src/lib.rs
  vm/devices/uidevices/src/keyboard/mod.rs
  vm/devices/uidevices/src/mouse/mod.rs
  vm/devices/uidevices/src/video/mod.rs
  vm/devices/vmbus/vmbfs/Cargo.toml
  vm/devices/vmbus/vmbfs/src/lib.rs
  vm/devices/vmbus/vmbus_channel/src/simple.rs
Labels: release_2411

#474 openhcl: refactor shared pool to general purpose page pool (#260)
  Cargo.lock
  Cargo.toml
  openhcl/page_pool_alloc/Cargo.toml
  openhcl/page_pool_alloc/src/device_dma.rs
  openhcl/page_pool_alloc/src/lib.rs
  openhcl/shared_pool_alloc/src/lib.rs
  openhcl/underhill_core/Cargo.toml
  openhcl/underhill_core/src/dispatch/mod.rs
  openhcl/underhill_core/src/nvme_manager.rs
  openhcl/underhill_core/src/worker.rs
  openhcl/virt_mshv_vtl/Cargo.toml
  openhcl/virt_mshv_vtl/src/lib.rs
  openhcl/virt_mshv_vtl/src/processor/snp/mod.rs
  openhcl/virt_mshv_vtl/src/processor/tdx/mod.rs
  openhcl/virt_mshv_vtl/src/processor/tdx/tlb_flush.rs
  vm/devices/get/guest_emulation_transport/Cargo.toml
  vm/devices/get/guest_emulation_transport/src/client.rs
  vm/devices/get/guest_emulation_transport/src/process_loop.rs
Labels: release_2411

#476 openhcl/page_pool_alloc: support save restore (#418)
  Cargo.lock
  openhcl/page_pool_alloc/Cargo.toml
  openhcl/page_pool_alloc/src/lib.rs
Labels: release_2411

#477 openhcl: remove fixed_pool_alloc, replace with page_pool_alloc (#450)
  openhcl/bootloader_fdt_parser/src/lib.rs
  openhcl/page_pool_alloc/src/lib.rs
  openhcl/underhill_core/src/dispatch/mod.rs
  openhcl/underhill_core/src/loader/vtl2_config/mod.rs
  openhcl/underhill_core/src/worker.rs
  vm/loader/loader_defs/src/shim.rs
Labels: release_2411

#480 openhcl: cleanup private page pool changes (#461)
  openhcl/host_fdt_parser/src/lib.rs
  openhcl/openhcl_boot/src/cmdline.rs
  openhcl/openhcl_boot/src/dt.rs
  openhcl/openhcl_boot/src/host_params/dt.rs
  openhcl/openhcl_boot/src/host_params/mod.rs
  openhcl/openhcl_boot/src/main.rs
  openhcl/openhcl_boot/src/sidecar.rs
  openhcl/underhill_core/src/dispatch/mod.rs
  vm/devices/get/get_protocol/src/lib.rs
  vm/devices/get/guest_emulation_device/src/lib.rs
  vm/devices/get/guest_emulation_transport/src/process_loop.rs
Labels: release_2411

#478 virt_mshv_vtl: add a new emulation register cache mechanism, and cleanup ARM to use it
  openhcl/virt_mshv_vtl/src/processor/mod.rs
  openhcl/virt_mshv_vtl/src/processor/mshv/arm64.rs
  openhcl/virt_mshv_vtl/src/processor/mshv/x64.rs
  openhcl/virt_mshv_vtl/src/processor/snp/mod.rs
  openhcl/virt_mshv_vtl/src/processor/tdx/mod.rs
Labels: backport_2411

#502 2411: Clean up two comments for ARM guest vsm
  openhcl/virt_mshv_vtl/src/processor/mshv/arm64.rs
Labels: release_2411

#488 devices: move vtl permissions guard to its own crate
  Cargo.lock
  Cargo.toml
  openhcl/lower_vtl_permissions_guard/Cargo.toml
  openhcl/lower_vtl_permissions_guard/src/device_dma.rs
  openhcl/lower_vtl_permissions_guard/src/lib.rs
  openhcl/underhill_core/Cargo.toml
  openhcl/underhill_core/src/worker.rs
  vm/devices/user_driver/src/memory.rs
  vm/devices/vmbus/vmbus_relay_intercept_device/Cargo.toml
  vm/devices/vmbus/vmbus_relay_intercept_device/src/lib.rs
Labels: backport_2411

#507 devices: move vtl permissions guard to its own crate (#488)
  Cargo.lock
  Cargo.toml
  openhcl/lower_vtl_permissions_guard/Cargo.toml
  openhcl/lower_vtl_permissions_guard/src/device_dma.rs
  openhcl/lower_vtl_permissions_guard/src/lib.rs
  openhcl/underhill_core/Cargo.toml
  openhcl/underhill_core/src/worker.rs
  vm/devices/user_driver/src/memory.rs
  vm/devices/vmbus/vmbus_relay_intercept_device/Cargo.toml
  vm/devices/vmbus/vmbus_relay_intercept_device/src/lib.rs
Labels: release_2411

#508 openhcl_boot: set private pool size to 1 page for ak cert
  openhcl/openhcl_boot/src/host_params/dt.rs
Labels: release_2411

#509 Add functionality for lazy pipette connections (#381)
  petri/src/vm/start.rs
Labels: release_2411

#506 nvme,mana: ensure completions are read and written in order
  vm/devices/net/gdma/src/queues.rs
  vm/devices/net/mana_driver/src/queues.rs
  vm/devices/storage/disk_nvme/nvme_driver/src/queues.rs
  vm/devices/storage/nvme/src/queue.rs
Labels: backport_2411

#501 2411: virt_mshv_vtl: add a new emulation register cache mechanism, and cleanup ARM to use it
  openhcl/virt_mshv_vtl/src/processor/mod.rs
  openhcl/virt_mshv_vtl/src/processor/mshv/arm64.rs
  openhcl/virt_mshv_vtl/src/processor/mshv/x64.rs
  openhcl/virt_mshv_vtl/src/processor/snp/mod.rs
  openhcl/virt_mshv_vtl/src/processor/tdx/mod.rs
Labels: release_2411

#522 openhcl: Add support for enlightened idle (#336)
  openhcl/virt_mshv_vtl/src/processor/mod.rs
  openhcl/virt_mshv_vtl/src/processor/mshv/x64.rs
  openhcl/virt_mshv_vtl/src/processor/snp/mod.rs
  openhcl/virt_mshv_vtl/src/processor/tdx/mod.rs
  vm/hv1/hv1_emulator/src/cpuid.rs
  vm/hv1/hvdef/src/lib.rs
Labels: release_2411

#526 Update url to 2.5.4 (#524)
  xsync/Cargo.lock
Labels: release_2411

#539 openhcl: use shared visibility pool for aarch64 dma
  vm/loader/manifests/openhcl-aarch64-dev.json
  vm/loader/manifests/openhcl-aarch64-release.json
Labels: ARM, backport_2411

#540 openhcl: use shared visibility pool for aarch64 dma
  vm/loader/manifests/openhcl-aarch64-dev.json
  vm/loader/manifests/openhcl-aarch64-release.json
Labels: ARM, release_2411

#516 nvme,mana: ensure completions are read and written in order (#506)
  vm/devices/net/gdma/src/queues.rs
  vm/devices/net/mana_driver/src/queues.rs
  vm/devices/storage/disk_nvme/nvme_driver/src/queues.rs
  vm/devices/storage/nvme/src/queue.rs
Labels: release_2411

#544 Modify the shared memory DMA heuristic to allow larger VM sizes, until we can get better information from the host
  openhcl/underhill_core/src/worker.rs
Labels: release_2411
