Repository microsoft/openvmm, pull requests merged in 2024-11, with the labels that each got.

#203 flowey: cross compile on ARM
  .github/workflows/openvmm-ci.json
  .github/workflows/openvmm-ci.yaml
  .github/workflows/openvmm-pr.json
  .github/workflows/openvmm-pr.yaml
  flowey/flowey_lib_common/src/run_cargo_nextest_archive.rs
  flowey/flowey_lib_common/src/run_cargo_nextest_run.rs
  flowey/flowey_lib_hvlite/src/_jobs/check_clippy.rs
  flowey/flowey_lib_hvlite/src/build_and_test_vmgs_lib.rs
  flowey/flowey_lib_hvlite/src/build_nextest_unit_tests.rs
  flowey/flowey_lib_hvlite/src/build_nextest_vmm_tests.rs
  flowey/flowey_lib_hvlite/src/init_cross_build.rs
  flowey/flowey_lib_hvlite/src/lib.rs
  flowey/flowey_lib_hvlite/src/run_cargo_build.rs
Labels: CI

#332 virt_mshv_vtl: support XAPIC mode for TDX VMs
  openhcl/virt_mshv_vtl/src/processor/tdx/mod.rs
  vmm_core/virt_mshv/src/lib.rs
  vmm_core/virt_support_apic/src/lib.rs
  vmm_core/virt_support_x86emu/src/emulate.rs
  vmm_core/virt_support_x86emu/tests/tests/checkvtlaccess.rs
  vmm_core/virt_support_x86emu/tests/tests/emulate.rs
  vmm_core/virt_support_x86emu/tests/tests/translate.rs
Labels: backport_2411

#338 attestation: Update DEK format check logic
  openhcl/underhill_attestation/src/key_protector.rs
Labels: backport_2411

#209 Support older OpenVMM logic for SECURE_BOOT
  vm/devices/firmware/firmware_uefi/src/service/nvram/mod.rs
Labels: backport_2411

#339 Update mu_msvm package target with fixes for serial console and MTRRs
  .github/workflows/openvmm-ci.json
  .github/workflows/openvmm-pr.json
  flowey/flowey_lib_hvlite/src/_jobs/cfg_versions.rs
Labels: backport_2411

#330 openvmm_hcl: add option to hide isolation from the guest
  openhcl/underhill_core/src/lib.rs
  openhcl/underhill_core/src/options.rs
  openhcl/underhill_core/src/worker.rs
  openhcl/underhill_mem/src/init.rs
  openhcl/virt_mshv_vtl/src/lib.rs
  openhcl/virt_mshv_vtl/src/processor/hardware_cvm/tlb_lock.rs
  openhcl/virt_mshv_vtl/src/processor/mod.rs
  openhcl/virt_mshv_vtl/src/processor/mshv/arm64.rs
  openhcl/virt_mshv_vtl/src/processor/mshv/x64.rs
  openhcl/virt_mshv_vtl/src/processor/snp/mod.rs
  openhcl/virt_mshv_vtl/src/processor/tdx/mod.rs
  openhcl/virt_mshv_vtl/src/processor/tdx/tlb_flush.rs
  vm/hv1/hv1_emulator/src/cpuid.rs
  vmm_core/virt_whp/src/lib.rs
Labels: backport_2411

#354 Add support for xsyncing rust-toolchain.toml files
  xsync/xsync/src/main.rs
  xsync/xsync/src/tasks/cargo_lock.rs
  xsync/xsync/src/tasks/cargo_toml.rs
  xsync/xsync/src/tasks/mod.rs
  xsync/xsync/src/tasks/rust_toolchain_toml.rs
Labels: backport_2411

#368 Lock the release branch to the current Rust version
  rust-toolchain.toml
Labels: release_2411

#370 virt_mshv_vtl: flush deferred actions during servicing
  openhcl/hcl/src/ioctl.rs
  openhcl/virt_mshv_vtl/src/processor/mod.rs
Labels: backport_2411

#336 openhcl: Add support for enlightened idle
  openhcl/virt_mshv_vtl/src/processor/mod.rs
  openhcl/virt_mshv_vtl/src/processor/mshv/x64.rs
  openhcl/virt_mshv_vtl/src/processor/snp/mod.rs
  openhcl/virt_mshv_vtl/src/processor/tdx/mod.rs
  vm/hv1/hv1_emulator/src/cpuid.rs
  vm/hv1/hvdef/src/lib.rs
Labels: backport_2411

#340 Support older OpenVMM logic for SECURE_BOOT (#209)
  vm/devices/firmware/firmware_uefi/src/service/nvram/mod.rs
Labels: release_2411

#374 hypestv: support relaying serial ports to new windows
  Cargo.lock
  Cargo.toml
  Guide/src/dev_guide/dev_tools/hypestv.md
  hyperv/tools/hypestv/Cargo.toml
  hyperv/tools/hypestv/src/windows/mod.rs
  hyperv/tools/hypestv/src/windows/vm.rs
  openvmm/openvmm_entry/Cargo.toml
  openvmm/openvmm_entry/src/lib.rs
  support/console_relay/Cargo.toml
  support/console_relay/src/lib.rs
  support/console_relay/src/unix.rs
  support/console_relay/src/windows.rs
Labels: Guide

#382 added zulip link now that zulip is ready
  CONTRIBUTE.MD
  Guide/src/user_guide/openhcl/run/hyperv.md
  SUPPORT.md
Labels: Guide

#411 hypestv: add paravisor kmsg output
  Cargo.lock
  Guide/src/dev_guide/dev_tools/hypestv.md
  hyperv/tools/hypestv/Cargo.toml
  hyperv/tools/hypestv/src/windows/completions.rs
  hyperv/tools/hypestv/src/windows/mod.rs
  hyperv/tools/hypestv/src/windows/vm.rs
Labels: Guide
