Repository microsoft/openvmm, pull requests merged in 2025-06, with the labels that each got.

#1455 underhill_core: trace panic messages appropriately
  openhcl/kmsg_defs/src/lib.rs
  openhcl/underhill_core/src/get_tracing/kmsg_stream.rs
  support/kmsg/src/lib.rs
Labels: backport_2411, backport_2505

#1454 Add attestation for host command line and debug tracing
  openhcl/bootloader_fdt_parser/src/lib.rs
  openhcl/openhcl_attestation_protocol/src/igvm_attest/get.rs
  openhcl/openhcl_boot/src/dt.rs
  openhcl/openhcl_boot/src/host_params/dt.rs
  openhcl/openhcl_boot/src/host_params/mod.rs
  openhcl/openhcl_boot/src/main.rs
  openhcl/underhill_attestation/src/hardware_key_sealing.rs
  openhcl/underhill_attestation/src/igvm_attest/mod.rs
  openhcl/underhill_core/src/worker.rs
Labels: backport_2505

#1465 guestmem: add error kind for access failures (#1430)
  openhcl/underhill_mem/src/mapping.rs
  openhcl/virt_mshv_vtl/src/processor/tdx/mod.rs
  openvmm/membacking/src/mapping_manager/va_mapper.rs
  vm/vmcore/guestmem/src/lib.rs
Labels: release_2505

#1458 underhill_core: trace panic messages appropriately (#1455)
  openhcl/kmsg_defs/src/lib.rs
  openhcl/underhill_core/src/get_tracing/kmsg_stream.rs
  support/kmsg/src/lib.rs
Labels: release_2505

#1467 guide: update table for 2505 release to 'Ask Mode'
  Guide/src/dev_guide/contrib/release.md
Labels: Guide

#1460 CVM: Audit tracing and add ALLOWED/CONFIDENTIAL where appropriate (#1408)
  Cargo.lock
  openhcl/diag_server/Cargo.toml
  openhcl/diag_server/src/diag_service.rs
  openhcl/diag_server/src/lib.rs
  openhcl/hcl/Cargo.toml
  openhcl/hcl/src/ioctl.rs
  openhcl/hcl/src/ioctl/deferred.rs
  openhcl/profiler_worker/src/lib.rs
  openhcl/underhill_core/src/dispatch/mod.rs
  openhcl/underhill_core/src/dispatch/pci_shutdown.rs
  openhcl/underhill_core/src/dispatch/vtl2_settings_worker.rs
  openhcl/underhill_core/src/emuplat/firmware.rs
  openhcl/underhill_core/src/emuplat/local_clock.rs
  openhcl/underhill_core/src/emuplat/watchdog.rs
  openhcl/underhill_core/src/get_tracing.rs
  openhcl/underhill_core/src/get_tracing/kmsg_stream.rs
  openhcl/underhill_core/src/inspect_proc.rs
  openhcl/underhill_core/src/lib.rs
  openhcl/underhill_core/src/livedump.rs
  openhcl/underhill_core/src/loader/mod.rs
  openhcl/underhill_core/src/loader/vtl0_config.rs
  openhcl/underhill_core/src/vp.rs
  openhcl/underhill_core/src/worker.rs
  openhcl/underhill_mem/Cargo.toml
  openhcl/underhill_mem/src/init.rs
  openhcl/underhill_mem/src/lib.rs
  openhcl/underhill_mem/src/registrar.rs
  openhcl/underhill_threadpool/Cargo.toml
  openhcl/underhill_threadpool/src/lib.rs
  openhcl/virt_mshv_vtl/Cargo.toml
  openhcl/virt_mshv_vtl/src/cvm_cpuid/mod.rs
  openhcl/virt_mshv_vtl/src/cvm_cpuid/tdx.rs
  openhcl/virt_mshv_vtl/src/lib.rs
  openhcl/virt_mshv_vtl/src/processor/hardware_cvm/apic.rs
  openhcl/virt_mshv_vtl/src/processor/hardware_cvm/mod.rs
  openhcl/virt_mshv_vtl/src/processor/mod.rs
  openhcl/virt_mshv_vtl/src/processor/snp/mod.rs
  openhcl/virt_mshv_vtl/src/processor/tdx/mod.rs
  vm/devices/firmware/firmware_uefi/src/service/time.rs
  vm/devices/firmware/hcl_compat_uefi_nvram_storage/Cargo.toml
  vm/devices/firmware/hcl_compat_uefi_nvram_storage/src/lib.rs
  vm/devices/get/guest_emulation_transport/src/process_loop.rs
  vm/devices/tpm/Cargo.toml
  vm/devices/tpm/src/lib.rs
  vm/devices/tpm/src/tpm_helper.rs
  vmm_core/Cargo.toml
  vmm_core/src/partition_unit/vp_set.rs
  vmm_core/vmotherboard/Cargo.toml
  vmm_core/vmotherboard/src/base_chipset.rs
  vmm_core/vmotherboard/src/chipset/mod.rs
Labels: release_2505

#1477 ci: update size check to use release/2505 branch baseline
  flowey/flowey_lib_hvlite/src/_jobs/check_openvmm_hcl_size.rs
Labels: release_2505

#1457 cvm guest vsm: track vtl 1 permissions in bitmaps
  openhcl/underhill_mem/src/init.rs
  openhcl/underhill_mem/src/lib.rs
  openhcl/underhill_mem/src/mapping.rs
  openhcl/virt_mshv_vtl/src/lib.rs
  openhcl/virt_mshv_vtl/src/processor/hardware_cvm/mod.rs
  vm/hv1/hv1_emulator/src/hv.rs
  vm/vmcore/guestmem/fuzz/fuzz_guestmem.rs
  vm/vmcore/guestmem/src/lib.rs
Labels: backport_2505

#1474 CVM Guest VSM: refactor the shared/encrypted bitmaps to be partition
  openhcl/underhill_mem/src/init.rs
  openhcl/underhill_mem/src/lib.rs
  openhcl/underhill_mem/src/mapping.rs
Labels: release_2505

#1482 vmgs: cvm tracing
  Cargo.lock
  vm/vmgs/vmgs/Cargo.toml
  vm/vmgs/vmgs/src/vmgs_impl.rs
Labels: backport_2505

#1469 virt_support_apic: Remove vector tracing filter
  Cargo.lock
  clippy.toml
  vmm_core/virt_support_apic/Cargo.toml
  vmm_core/virt_support_apic/src/lib.rs
Labels: backport_2505

#1479 Update ms-tpm-20-ref-rs package (#1452) (#1453)
  Cargo.lock
Labels: release_2411

#1468 ohcl: Work around tracing bug by avoiding calling enabled (#1462)
  openhcl/underhill_core/src/get_tracing/kmsg_stream.rs
Labels: release_2505

#1480 vmm_tests: skip servicing tests on nested amd hosts
  Cargo.lock
  vmm_tests/vmm_tests/Cargo.toml
  vmm_tests/vmm_tests/tests/tests/x86_64/openhcl_servicing.rs
Labels: backport_2505, backport_2505_approved

#1484 vmm_tests: skip servicing tests on nested amd hosts (#1480)
  Cargo.lock
  vmm_tests/vmm_tests/Cargo.toml
  vmm_tests/vmm_tests/tests/tests/x86_64/openhcl_servicing.rs
Labels: release_2505

#1376 deps: change mu_msvm version to v25.1.3 release
  flowey/flowey_lib_hvlite/src/_jobs/cfg_versions.rs
Labels: release_2505

#1439 firmware_uefi: Add EFI Diagnostics
  vm/devices/firmware/firmware_uefi/src/lib.rs
  vm/devices/firmware/firmware_uefi/src/service/diagnostics.rs
  vm/devices/firmware/firmware_uefi/src/service/mod.rs
  vm/devices/firmware/uefi_specs/src/hyperv/advanced_logger.rs
  vm/devices/firmware/uefi_specs/src/hyperv/debug_level.rs
  vm/devices/firmware/uefi_specs/src/hyperv/mod.rs
  vmm_tests/vmm_tests/tests/tests/multiarch.rs
Labels: backport_2505

#1498 firmware_uefi: Backport EFI Diagnostics
  vm/devices/firmware/firmware_uefi/src/lib.rs
  vm/devices/firmware/firmware_uefi/src/service/diagnostics.rs
  vm/devices/firmware/firmware_uefi/src/service/mod.rs
  vm/devices/firmware/uefi_specs/src/hyperv/advanced_logger.rs
  vm/devices/firmware/uefi_specs/src/hyperv/debug_level.rs
  vm/devices/firmware/uefi_specs/src/hyperv/mod.rs
  vmm_tests/vmm_tests/tests/tests/multiarch.rs
Labels: release_2505

#1487 1.6 cvm guest vsm: track vtl 1 permissions in bitmaps (#1457)
  openhcl/underhill_mem/src/init.rs
  openhcl/underhill_mem/src/lib.rs
  openhcl/underhill_mem/src/mapping.rs
  openhcl/virt_mshv_vtl/src/lib.rs
  openhcl/virt_mshv_vtl/src/processor/hardware_cvm/mod.rs
  vm/hv1/hv1_emulator/src/hv.rs
  vm/vmcore/guestmem/fuzz/fuzz_guestmem.rs
  vm/vmcore/guestmem/src/lib.rs
Labels: release_2505

#1525 Merged PR 13114344: tpm: mitigate corruption due to corrupted TPM NVRAM blob
  vm/devices/tpm/src/lib.rs
  vm/devices/tpm/src/recover.rs
  vm/devices/tpm/src/tpm_helper.rs
  vmm_tests/vmm_tests/tests/tests/x86_64.rs
Labels: backport_2411, backport_2411_approved, backport_2505, backport_2505_approved

#1527 tpm: mitigate corruption due to corrupted TPM NVRAM blob
  vm/devices/tpm/src/lib.rs
  vm/devices/tpm/src/recover.rs
  vm/devices/tpm/src/tpm_helper.rs
  vmm_tests/vmm_tests/tests/tests/x86_64.rs
Labels: release_2411

#1502 hv1_emulator: Wire up VTL protections for hypercall and tsc pages
  openhcl/underhill_mem/src/lib.rs
  openhcl/virt_mshv_vtl/src/lib.rs
  openhcl/virt_mshv_vtl/src/processor/hardware_cvm/mod.rs
  openhcl/virt_mshv_vtl/src/processor/mod.rs
  openhcl/virt_mshv_vtl/src/processor/tdx/mod.rs
  vm/hv1/hv1_emulator/src/hv.rs
  vm/hv1/hv1_emulator/src/lib.rs
  vm/hv1/hv1_emulator/src/pages.rs
  vm/hv1/hv1_emulator/src/synic.rs
  vmm_core/virt_hvf/src/hypercall.rs
  vmm_core/virt_hvf/src/lib.rs
  vmm_core/virt_whp/src/lib.rs
  vmm_core/virt_whp/src/vp.rs
Labels: backport_2505

#1530 vmm_tests: skip another servicing test on amd nested
  vmm_tests/vmm_tests/tests/tests/x86_64/openhcl_linux_direct.rs
  vmm_tests/vmm_tests/tests/tests/x86_64/openhcl_servicing.rs
Labels: backport_2505

#1526 tpm: mitigate corruption due to corrupted TPM NVRAM blob
  vm/devices/tpm/src/lib.rs
  vm/devices/tpm/src/recover.rs
  vm/devices/tpm/src/tpm_helper.rs
  vmm_tests/vmm_tests/tests/tests/x86_64.rs
Labels: release_2505

#1516 1.6 CVM Guest VSM: synchronization around VTL permission bitmaps (#1483)
  openhcl/underhill_mem/src/lib.rs
  openhcl/underhill_mem/src/mapping.rs
Labels: release_2505

#1536 cvm guest vsm: enforce vtl 1 execute permissions during instruction e…
  openhcl/underhill_core/src/worker.rs
  openhcl/underhill_mem/src/init.rs
  openhcl/underhill_mem/src/mapping.rs
  openhcl/virt_mshv_vtl/src/lib.rs
  openhcl/virt_mshv_vtl/src/processor/mod.rs
  openhcl/virt_mshv_vtl/src/processor/snp/mod.rs
  openhcl/virt_mshv_vtl/src/processor/tdx/mod.rs
  tmk/tmk_vmm/src/paravisor_vmm.rs
  vmm_core/virt_mshv/src/lib.rs
  vmm_core/virt_support_x86emu/src/emulate.rs
  vmm_core/virt_support_x86emu/tests/tests/checkvtlaccess.rs
  vmm_core/virt_support_x86emu/tests/tests/emulate.rs
  vmm_core/virt_support_x86emu/tests/tests/translate.rs
  vmm_core/virt_whp/src/vp.rs
Labels: release_2505

#1542 openhcl/openhcl_dma_manager: disallow lower vtl hypercall on hardware isolated platforms
  openhcl/openhcl_dma_manager/src/lib.rs
  openhcl/underhill_core/src/worker.rs
Labels: backport_2505

#1535 virt_mshv_vtl: Remove impl of VtlMemoryProtection for UhPartition
  openhcl/virt_mshv_vtl/src/lib.rs
Labels: backport_2505

#1552 virt_mshv_vtl: Fix TODO relating to translating gpas to overlay pages
  openhcl/underhill_mem/src/lib.rs
  openhcl/virt_mshv_vtl/src/lib.rs
  openhcl/virt_mshv_vtl/src/processor/hardware_cvm/mod.rs
Labels: backport_2505

#1548 Guest VSM: Cleanup some comments
  openhcl/hcl/src/ioctl.rs
  openhcl/underhill_mem/src/init.rs
  openhcl/underhill_mem/src/lib.rs
  openhcl/virt_mshv_vtl/src/lib.rs
  openhcl/virt_mshv_vtl/src/processor/hardware_cvm/mod.rs
  openhcl/virt_mshv_vtl/src/processor/mshv/arm64.rs
Labels: backport_2505

#1553 virt_mshv_vtl: Remove impl of VtlMemoryProtection for UhPartition (#1535)
  openhcl/virt_mshv_vtl/src/lib.rs
Labels: release_2505

#1555 Guest VSM: Cleanup some comments (#1548)
  openhcl/hcl/src/ioctl.rs
  openhcl/underhill_mem/src/init.rs
  openhcl/underhill_mem/src/lib.rs
  openhcl/virt_mshv_vtl/src/lib.rs
  openhcl/virt_mshv_vtl/src/processor/hardware_cvm/mod.rs
  openhcl/virt_mshv_vtl/src/processor/mshv/arm64.rs
Labels: release_2505

#1529 hv1_emulator: Wire up VTL protections for hypercall and tsc pages (#1502)
  openhcl/underhill_mem/src/lib.rs
  openhcl/virt_mshv_vtl/src/lib.rs
  openhcl/virt_mshv_vtl/src/processor/hardware_cvm/mod.rs
  openhcl/virt_mshv_vtl/src/processor/mod.rs
  openhcl/virt_mshv_vtl/src/processor/tdx/mod.rs
  vm/hv1/hv1_emulator/src/hv.rs
  vm/hv1/hv1_emulator/src/lib.rs
  vm/hv1/hv1_emulator/src/pages.rs
  vm/hv1/hv1_emulator/src/synic.rs
  vmm_core/virt_hvf/src/hypercall.rs
  vmm_core/virt_hvf/src/lib.rs
  vmm_core/virt_whp/src/lib.rs
  vmm_core/virt_whp/src/vp.rs
Labels: release_2505

#1554 virt_mshv_vtl: Fix TODO relating to translating gpas to overlay pages (#1552)
  openhcl/underhill_mem/src/lib.rs
  openhcl/virt_mshv_vtl/src/lib.rs
  openhcl/virt_mshv_vtl/src/processor/hardware_cvm/mod.rs
Labels: release_2505

#1558 firmware_uefi: suppress known warning logs backport
  vm/devices/firmware/firmware_uefi/src/service/diagnostics.rs
Labels: release_2505

#1549 openhcl/openhcl_dma_manager: disallow lower vtl hypercall on hardware isolated platforms (#1542)
  openhcl/openhcl_dma_manager/src/lib.rs
  openhcl/underhill_core/src/worker.rs
Labels: release_2505

#1567 1.6 cvm guest vsm: protections applied to overlay pages shouldn't affect …
  openhcl/underhill_mem/src/lib.rs
  openhcl/virt_mshv_vtl/src/lib.rs
  openhcl/virt_mshv_vtl/src/processor/hardware_cvm/mod.rs
Labels: release_2505

#1585 uh_mem: Implement prevention of permissions changes on locked pages (#1531)
  openhcl/underhill_mem/src/init.rs
  openhcl/underhill_mem/src/lib.rs
  openhcl/underhill_mem/src/mapping.rs
  openhcl/virt_mshv_vtl/src/lib.rs
  openhcl/virt_mshv_vtl/src/processor/tdx/mod.rs
  vm/devices/storage/scsi_buffers/src/lib.rs
  vm/vmcore/guestmem/fuzz/fuzz_guestmem.rs
  vm/vmcore/guestmem/src/lib.rs
Labels: release_2505

#1472 vmm_tests: vmbus relay test for TDX
  petri/src/vm/hyperv/hyperv.psm1
  petri/src/vm/hyperv/mod.rs
  petri/src/vm/hyperv/powershell.rs
  petri/src/vm/hyperv/vm.rs
  petri/src/vm/mod.rs
  petri/src/vm/openvmm/mod.rs
  vmm_tests/vmm_tests/tests/tests/multiarch.rs
Labels: backport_2505

#1593 vmgs: cvm tracing (#1482)
  Cargo.lock
  vm/vmgs/vmgs/Cargo.toml
  vm/vmgs/vmgs/src/vmgs_impl.rs
Labels: release_2505

#1541 virt_mshv_vtl: Wire up proper memory protections for the monitor page and enable it
  openhcl/virt_mshv_vtl/src/lib.rs
  openhcl/virt_mshv_vtl/src/processor/hardware_cvm/mod.rs
  openhcl/virt_mshv_vtl/src/processor/mod.rs
  openhcl/virt_mshv_vtl/src/processor/snp/mod.rs
  openhcl/virt_mshv_vtl/src/processor/tdx/mod.rs
  vm/vmcore/src/monitor.rs
Labels: backport_2505

#1598 guide: add pkg-config for linux users
  Guide/src/dev_guide/getting_started/linux.md
Labels: Guide

#1599 uh_mem: Handle duplicate overlay registration
  openhcl/underhill_mem/src/lib.rs
Labels: backport_2505

#1606 Set can_trust_host if TDX debug bit is set (#1501)
  Cargo.lock
  openhcl/openhcl_attestation_protocol/Cargo.toml
  openhcl/openhcl_boot/Cargo.toml
  openhcl/openhcl_boot/src/arch/x86_64/tdx.rs
  openhcl/openhcl_boot/src/main.rs
  openhcl/underhill_core/src/worker.rs
  support/tdx_guest_device/Cargo.toml
  support/tdx_guest_device/src/ioctl.rs
  support/tdx_guest_device/src/lib.rs
  support/tdx_guest_device/src/protocol.rs
  support/tee_call/Cargo.toml
  vm/loader/igvmfilegen/Cargo.toml
  vm/loader/igvmfilegen/src/main.rs
  vm/x86/tdcall/Cargo.toml
  vm/x86/tdcall/src/lib.rs
Labels: release_2505

#1545 Tracing fixes backport to 2411
  openhcl/kmsg_defs/src/lib.rs
  openhcl/underhill_core/src/get_tracing/kmsg_stream.rs
  support/kmsg/src/lib.rs
Labels: release_2411

#1607 uh_core: Avoid potential time underflow in tracing math
  openhcl/underhill_core/src/get_tracing/json_layer.rs
  support/pal/pal_async/src/timer.rs
Labels: backport_2411, backport_2505

#1609 uh_core: Avoid potential time underflow in tracing math (#1607)
  openhcl/underhill_core/src/get_tracing/json_layer.rs
  support/pal/pal_async/src/timer.rs
Labels: release_2505

#1597 hypestv: support `paravisor reload`
  Guide/src/dev_guide/dev_tools/hypestv.md
  hyperv/tools/hypestv/src/windows/mod.rs
  hyperv/tools/hypestv/src/windows/vm.rs
Labels: Guide

#1626 build_info: add internal build info
  openhcl/build_info/src/lib.rs
Labels: release_2411

#1624 guide: Fix broken link to PCAT BIOS
  Guide/src/user_guide/openvmm/run.md
Labels: Guide
