Repository microsoft/openvmm, pull requests merged in 2025-08, with the labels that each got.

#1797 vmcore/vm_topology: support pmu interrupt on aarch64 (#1776)
  openhcl/underhill_core/src/worker.rs
  openvmm/hvlite_core/src/worker/dispatch.rs
  openvmm/hvlite_defs/src/config.rs
  openvmm/openvmm_entry/src/lib.rs
  petri/src/vm/openvmm/construct.rs
  tmk/tmk_vmm/src/run.rs
  vm/acpi_spec/src/madt.rs
  vm/vmcore/vm_topology/src/processor/aarch64.rs
  vmm_core/src/acpi_builder.rs
  vmm_tests/vmm_tests/tests/tests/aarch64_exclusive.rs
  vmm_tests/vmm_tests/tests/tests/main.rs
Labels: release_2505

#1807 Remove a duplicated trace
  openhcl/virt_mshv_vtl/src/processor/mod.rs
Labels: release_2505

#1809 vmbus_server: always notify that the connection is modified when disconnecting
  vm/devices/vmbus/vmbus_server/src/channels.rs
Labels: backport_2411, backport_2505

#1812 vmbus_server: always notify that the connection is modified when disconnecting
  vm/devices/vmbus/vmbus_server/src/channels.rs
Labels: release_2411

#1773 openhcl: log that a guest memory self test is being done (#1772)
  openhcl/underhill_core/src/worker.rs
Labels: release_2505

#1834 vmbus_server: cherry-pick #1815 and #1829
  openhcl/underhill_core/src/lib.rs
  openhcl/underhill_core/src/options.rs
  openhcl/underhill_core/src/worker.rs
  openvmm/hvlite_core/src/worker/dispatch.rs
  vm/devices/vmbus/vmbus_server/src/lib.rs
Labels: release_2411

#1835 vmbus_server: cherry-pick #1815 and #1829
  openhcl/underhill_core/src/lib.rs
  openhcl/underhill_core/src/options.rs
  openhcl/underhill_core/src/worker.rs
  openvmm/hvlite_core/src/worker/dispatch.rs
  vm/devices/vmbus/vmbus_server/src/lib.rs
Labels: release_2505

#1830 underhill_mem: fix bitmap initialization
  openhcl/underhill_mem/src/mapping.rs
  support/sparse_mmap/src/unix.rs
Labels: backport_2505

#1843 Remove VMGS host tampering vulnerability
  openhcl/underhill_attestation/src/key_protector.rs
  openhcl/underhill_attestation/src/lib.rs
Labels: backport_2505

#1853 Amd64 Trusted VMs with Open HCL fail to inject an NMI
  vm/acpi_spec/src/madt.rs
  vmm_core/src/acpi_builder.rs
Labels: release_2505

#1849 [MSRC 97247] Fix Trust Fall MSRC
  Cargo.lock
  vm/devices/tpm/Cargo.toml
  vm/devices/tpm/src/lib.rs
  vm/devices/tpm/src/tpm20proto.rs
  vm/devices/tpm/src/tpm_helper.rs
Labels: backport_2505

#1854 nvme_manager: multithreaded
  Cargo.lock
  openhcl/underhill_core/Cargo.toml
  openhcl/underhill_core/src/dispatch/mod.rs
  openhcl/underhill_core/src/dispatch/vtl2_settings_worker.rs
  openhcl/underhill_core/src/nvme_manager.rs
  openhcl/underhill_core/src/nvme_manager/device.rs
  openhcl/underhill_core/src/nvme_manager/manager.rs
  openhcl/underhill_core/src/nvme_manager/mod.rs
  openhcl/underhill_core/src/nvme_manager/save_restore.rs
  openhcl/underhill_core/src/worker.rs
Labels: release_2505

#1865 Disable debug mode for TDX release builds
  vm/loader/manifests/openhcl-x64-cvm-release.json
Labels: release_2505

#1868 [MSRC 97247] Fix Trust Fall MSRC (#1849)
  Cargo.lock
  vm/devices/tpm/Cargo.toml
  vm/devices/tpm/src/lib.rs
  vm/devices/tpm/src/tpm20proto.rs
  vm/devices/tpm/src/tpm_helper.rs
Labels: release_2411

#1894 uh_mem: Properly reset permissions when unsharing pages (#1891)
  openhcl/underhill_mem/src/lib.rs
  openhcl/virt_mshv_vtl/src/lib.rs
  openhcl/virt_mshv_vtl/src/processor/hardware_cvm/mod.rs
Labels: release_2505

#1912 virt_mshv_vtl: 2505: work around the hypervisor's handling of the pre…
  openhcl/underhill_core/src/worker.rs
  openhcl/virt_mshv_vtl/src/processor/mod.rs
  openhcl/virt_mshv_vtl/src/processor/mshv/arm64.rs
  openhcl/virt_mshv_vtl/src/processor/mshv/x64.rs
Labels: release_2505

#1873 netvsp: handle RNDIS packet filter OID for stopping Rx
  vm/devices/net/netvsp/src/lib.rs
  vm/devices/net/netvsp/src/rndisprot.rs
  vm/devices/net/netvsp/src/saved_state.rs
  vm/devices/net/netvsp/src/test.rs
Labels: backport_2411, backport_2505

#1927 netvsp: handle RNDIS packet filter OID for stopping Rx (#1873)
  vm/devices/net/netvsp/src/lib.rs
  vm/devices/net/netvsp/src/rndisprot.rs
  vm/devices/net/netvsp/src/saved_state.rs
  vm/devices/net/netvsp/src/test.rs
Labels: release_2505

#1670 sparse_mmap: support safe volatile access methods (#1499)
  support/sparse_mmap/src/lib.rs
Labels: release_2505

#1941 vmbus_client: add filter and channel driver support (#1579)
  Cargo.lock
  vm/devices/vmbus/vmbus_client/Cargo.toml
  vm/devices/vmbus/vmbus_client/src/driver.rs
  vm/devices/vmbus/vmbus_client/src/filter.rs
  vm/devices/vmbus/vmbus_client/src/lib.rs
  vm/devices/vmbus/vmbus_client/src/saved_state.rs
  vm/devices/vmbus/vmbus_ring/src/lib.rs
Labels: release_2505

#1942 vpci_relay: relay VPCI connections to support filtering (#1938)
  Cargo.lock
  Cargo.toml
  openhcl/hcl/Cargo.toml
  openhcl/underhill_core/Cargo.toml
  openhcl/underhill_core/src/dispatch/mod.rs
  openhcl/underhill_core/src/lib.rs
  openhcl/underhill_core/src/options.rs
  openhcl/underhill_core/src/worker.rs
  vm/devices/pci/vpci/src/device.rs
  vm/devices/pci/vpci_client/Cargo.toml
  vm/devices/pci/vpci_client/src/lib.rs
  vm/devices/pci/vpci_client/src/tests.rs
  vm/devices/pci/vpci_protocol/src/lib.rs
  vm/devices/pci/vpci_relay/Cargo.toml
  vm/devices/pci/vpci_relay/src/lib.rs
  vm/devices/pci/vpci_relay/src/linux_mmio.rs
  vm/devices/vmbus/vmbus_async/src/queue.rs
  vmm_core/vmotherboard/src/chipset/backing/arc_mutex/services.rs
  vmm_core/vmotherboard/src/chipset/builder/mod.rs
  vmm_core/vmotherboard/src/chipset/mod.rs
  vmm_core/vmotherboard/src/lib.rs
  vmm_tests/vmm_tests/Cargo.toml
  vmm_tests/vmm_tests/tests/tests/x86_64.rs
Labels: release_2505
