Repository microsoft/openvmm, pull requests merged in 2025-02, with the labels that each got.

#764 [2411] openhcl_boot: Get alias map from device tree
  openhcl/host_fdt_parser/src/lib.rs
  openhcl/openhcl_boot/src/host_params/dt.rs
  openhcl/openhcl_boot/src/main.rs
Labels: release_2411

#794 Recap SWIOTLB to the minimum.
  openhcl/openhcl_boot/src/main.rs
Labels: backport_2411

#801 whp: Refactor get/set property to improve safety and fix a UB
  Cargo.lock
  vm/whp/Cargo.toml
  vm/whp/src/abi.rs
  vm/whp/src/lib.rs
  vm/whp/src/partition_prop.rs
Labels: backport_2411

#811 Adding WHV_ARM64_IC_GIC_V3_PARAMETERS::GicPpiPerformanceMonitorsInterrupt to aarch64 unstable_whp (#356)
  vm/whp/src/abi.rs
  vmm_core/virt_whp/src/lib.rs
Labels: release_2411

#813 whp: Refactor get/set property to improve safety and fix a UB (#801)
  Cargo.lock
  vm/whp/Cargo.toml
  vm/whp/src/abi.rs
  vm/whp/src/lib.rs
  vm/whp/src/partition_prop.rs
Labels: release_2411

#812 ci: enable arm openhcl test (#782)
  flowey/flowey_hvlite/src/pipelines/checkin_gates.rs
  flowey/flowey_lib_hvlite/src/build_openvmm.rs
Labels: release_2411

#788 Update openssl create to latest version (0.10.70) (#776)
  Cargo.lock
Labels: release_2411

#807 vmbus_core: fix TargetInfo alignment
  vm/devices/vmbus/vmbus_client/src/lib.rs
  vm/devices/vmbus/vmbus_core/src/protocol.rs
  vm/devices/vmbus/vmbus_server/src/channels.rs
  vm/devices/vmbus/vmbus_server/src/lib.rs
Labels: backport_2411

#803 VmBus: disable client ID support in OpenHCL when not isolated (#428)
  Cargo.lock
  openhcl/underhill_core/src/worker.rs
  openvmm/hvlite_core/Cargo.toml
  openvmm/hvlite_core/src/worker/dispatch.rs
  vm/devices/vmbus/vmbus_server/src/lib.rs
Labels: release_2411

#820 vmbus_core: fix TargetInfo alignment (#807)
  vm/devices/vmbus/vmbus_client/src/lib.rs
  vm/devices/vmbus/vmbus_core/src/protocol.rs
  vm/devices/vmbus/vmbus_server/src/channels.rs
  vm/devices/vmbus/vmbus_server/src/lib.rs
Labels: release_2411

#823 mesh_node: fix size calculation for port failure events (#603)
  support/mesh/mesh_node/src/local_node.rs
Labels: release_2411

#824 Update `futures` to 0.3.31 (#398)
  Cargo.lock
  Cargo.toml
Labels: release_2411

#825 virt_support_apic: scan IRR for self IPIs and timers (#331)
  vmm_core/virt_support_apic/src/lib.rs
Labels: release_2411

#826 initrd: rename /bin/underhill to /bin/openvmm_hcl (#326)
  openhcl/rootfs.config
  openhcl/underhill_init/src/lib.rs
  vmm_tests/vmm_tests/tests/tests/x86_64.rs
Labels: release_2411

#828 hcl: propagate failure to get a register (#707)
  openhcl/hcl/src/ioctl.rs
  openhcl/underhill_core/src/worker.rs
  openhcl/virt_mshv_vtl/src/lib.rs
  openhcl/virt_mshv_vtl/src/processor/mshv/tlb_lock.rs
  openhcl/virt_mshv_vtl/src/processor/mshv/x64.rs
Labels: release_2411

#822 hcl: fix multiple calls to `flush_deferred_actions` (#739)
  openhcl/hcl/src/ioctl.rs
  openhcl/hcl/src/ioctl/deferred.rs
Labels: release_2411

#809 guide: add release & code flow page
  Guide/src/SUMMARY.md
  Guide/src/dev_guide/contrib/release.md
Labels: Guide

#827 ci: add arm64 ubuntu test (#290)
  flowey/flowey_lib_hvlite/src/_jobs/consume_and_test_nextest_vmm_tests_archive.rs
  vmm_tests/petri_artifact_resolver_openvmm_known_paths/src/lib.rs
  vmm_tests/petri_artifacts_vmm_test/src/lib.rs
  vmm_tests/vmm_test_images/src/lib.rs
  vmm_tests/vmm_test_macros/src/lib.rs
  vmm_tests/vmm_tests/tests/tests/aarch64.rs
  vmm_tests/vmm_tests/tests/tests/main.rs
  vmm_tests/vmm_tests/tests/tests/multiarch.rs
  vmm_tests/vmm_tests/tests/tests/x86_64.rs
Labels: release_2411

#832 Update linkme to v0.3.31
  Cargo.lock
Labels: release_2411

#821 Recap SWIOTLB to the minimum. (#794)
  openhcl/openhcl_boot/src/main.rs
Labels: release_2411

#837 xsync: Add 'inherit' and 'channel_prefix' options to control toolchain syncing
  xsync/xsync/src/tasks/cargo_toml.rs
  xsync/xsync/src/tasks/mod.rs
  xsync/xsync/src/tasks/rust_toolchain_toml.rs
Labels: backport_2411

#814 mana: poll HWC EQE after interrupt wait
  vm/devices/net/mana_driver/src/gdma_driver.rs
Labels: backport_2411

#839 xsync: Add 'inherit' and 'channel_prefix' options to control toolchain syncing (#837)
  xsync/xsync/src/tasks/cargo_toml.rs
  xsync/xsync/src/tasks/mod.rs
  xsync/xsync/src/tasks/rust_toolchain_toml.rs
Labels: release_2411, backport_2411_approved

#866 mana: poll HWC EQE after interrupt wait (#814)
  vm/devices/net/mana_driver/src/gdma_driver.rs
Labels: release_2411

#897 guide: clarify guidance and warnings related to cloning repo
  Guide/src/dev_guide/getting_started/linux.md
  Guide/src/dev_guide/getting_started/suggested_dev_env.md
  build_support/setup_windows_cross.sh
Labels: Guide

#896 vmbus_server: save reserved channels when disconnected.
  vm/devices/vmbus/vmbus_server/src/channels.rs
  vm/devices/vmbus/vmbus_server/src/channels/saved_state.rs
Labels: backport_2411

#907 release/2411: Fix xsync
  xsync/xsync/src/tasks/cargo_toml.rs
Labels: release_2411

#925 xtask: fix interplay between fmt-on-save and xsync
  Guide/src/dev_guide/getting_started/suggested_dev_env.md
  xtask/src/main.rs
  xtask/src/tasks/verify_size.rs
Labels: Guide

#874 [aarch64emu] enable ldset fast path for MNF (#863)
  Cargo.lock
  openhcl/virt_mshv_vtl/src/processor/mshv/arm64.rs
  vm/aarch64/aarch64emu/src/opcodes.rs
  vmm_core/virt_support_aarch64emu/Cargo.toml
  vmm_core/virt_support_aarch64emu/src/emulate.rs
Labels: release_2411
