Repository microsoft/openvmm, pull requests merged in 2025-04, with the labels that each got.

#1116 openhcl_boot: update swiotlb to 8MB on hardware isolated CVMs
  openhcl/openhcl_boot/src/main.rs
Labels: backport_2411

#1121 virt_mshv_vtl/tdx: even more logging on vm enter failure (#1110)
  openhcl/virt_mshv_vtl/src/processor/tdx/mod.rs
Labels: release_2411

#1126 openhcl_boot: update swiotlb to 8MB on hardware isolated CVMs (#1116)
  openhcl/openhcl_boot/src/main.rs
Labels: release_2411

#1133 Update OpenHCL secure boot templates with latest revocations
  vm/devices/firmware/hyperv_secure_boot_templates/templates/x64/MicrosoftUEFICertificateAuthority_Template.json
  vm/devices/firmware/hyperv_secure_boot_templates/templates/x64/MicrosoftWindows_Template.json
Labels: backport_2411

#1143 Update OpenHCL secure boot templates with latest revocations (#1133)
  vm/devices/firmware/hyperv_secure_boot_templates/templates/x64/MicrosoftUEFICertificateAuthority_Template.json
  vm/devices/firmware/hyperv_secure_boot_templates/templates/x64/MicrosoftWindows_Template.json
Labels: release_2411

#1140 virt_mshv_vtl: tdx: don't double inject events (#1139)
  openhcl/virt_mshv_vtl/src/processor/tdx/mod.rs
Labels: release_2411

#1163 Revert secure boot template update from #1143
  vm/devices/firmware/hyperv_secure_boot_templates/templates/x64/MicrosoftUEFICertificateAuthority_Template.json
  vm/devices/firmware/hyperv_secure_boot_templates/templates/x64/MicrosoftWindows_Template.json
Labels: release_2411

#1166 openvmm,console_relay,hypestv: Set contextual window titles in all spawned serial console windows
  Cargo.lock
  Guide/src/user_guide/openhcl/run/openvmm.md
  hyperv/tools/hypestv/src/windows/mod.rs
  hyperv/tools/hypestv/src/windows/vm.rs
  openhcl/ohcldiag-dev/src/main.rs
  openvmm/openvmm_entry/src/cli_args.rs
  openvmm/openvmm_entry/src/lib.rs
  support/console_relay/Cargo.toml
  support/console_relay/src/lib.rs
  support/term/Cargo.toml
  support/term/src/lib.rs
Labels: Guide

#1186 Reintroduce secure boot template update from #1143
  vm/devices/firmware/hyperv_secure_boot_templates/templates/x64/MicrosoftUEFICertificateAuthority_Template.json
  vm/devices/firmware/hyperv_secure_boot_templates/templates/x64/MicrosoftWindows_Template.json
Labels: release_2411

#1195 Send GET events for VMGS/TPM/Attestation failures
  Cargo.lock
  openhcl/underhill_attestation/src/lib.rs
  openhcl/underhill_attestation/src/secure_key_release.rs
  openhcl/underhill_core/src/emuplat/mod.rs
  openhcl/underhill_core/src/emuplat/tpm.rs
  openhcl/underhill_core/src/lib.rs
  openhcl/underhill_core/src/vmgs/vmgs_get.rs
  openhcl/underhill_core/src/vmgs_logger.rs
  openhcl/underhill_core/src/worker.rs
  openvmm/hvlite_core/src/worker/dispatch.rs
  openvmm/hvlite_entry/src/lib.rs
  petri/src/vm/modify.rs
  vm/devices/get/get_protocol/src/lib.rs
  vm/devices/tpm/src/ak_cert.rs
  vm/devices/tpm/src/lib.rs
  vm/devices/tpm/src/logger.rs
  vm/devices/tpm/src/resolver.rs
  vm/devices/tpm_resources/src/lib.rs
  vm/vmgs/vmgs/Cargo.toml
  vm/vmgs/vmgs/src/lib.rs
  vm/vmgs/vmgs/src/logger.rs
  vm/vmgs/vmgs/src/vmgs_impl.rs
  vm/vmgs/vmgs_lib/src/lib.rs
  vm/vmgs/vmgstool/src/main.rs
Labels: release_2411

#1201 guide: flesh out OpenHCL tracing documentation
  Guide/src/reference/openhcl/diag/tracing.md
  Guide/src/reference/openvmm/logging.md
  Guide/src/user_guide/openhcl/run.md
  Guide/src/user_guide/openhcl/run/hyperv.md
  Guide/src/user_guide/openhcl/troubleshooting.md
Labels: Guide

#1216 2411: x64_regs: Flush dirty registry page contents at save.
  openhcl/hcl/src/ioctl.rs
  openhcl/hcl/src/ioctl/aarch64.rs
  openhcl/hcl/src/ioctl/snp.rs
  openhcl/hcl/src/ioctl/tdx.rs
  openhcl/hcl/src/ioctl/x64.rs
  openhcl/virt_mshv_vtl/src/processor/mod.rs
  vm/hv1/hvdef/src/lib.rs
Labels: release_2411

#1224 Update some dependencies for internal compliance
  Cargo.lock
Labels: release_2411

#1215 2411: vmbus_channel: Stopped vmbus devices should not see vmbus requests.
  vm/devices/vmbus/vmbus_channel/src/channel.rs
  vm/devices/vmbus/vmbus_server/src/lib.rs
Labels: release_2411

#1225 Guide: add notes on DeviceTree diagnostics
  Guide/src/user_guide/openhcl/troubleshooting.md
Labels: Guide

#1222 openhcl_boot: report partition memory with different device type to workaround kernel numa parsing
  openhcl/bootloader_fdt_parser/src/lib.rs
  openhcl/openhcl_boot/src/dt.rs
Labels: release_2411

#1154 Fixing net_mana handling of Gdma Errors
  Cargo.lock
  vm/devices/net/gdma_defs/src/bnic.rs
  vm/devices/net/net_backend/Cargo.toml
  vm/devices/net/net_backend/src/lib.rs
  vm/devices/net/net_backend/src/loopback.rs
  vm/devices/net/net_backend/src/null.rs
  vm/devices/net/net_consomme/src/lib.rs
  vm/devices/net/net_dio/src/lib.rs
  vm/devices/net/net_mana/src/lib.rs
  vm/devices/net/net_packet_capture/src/lib.rs
  vm/devices/net/net_tap/src/lib.rs
  vm/devices/net/netvsp/src/lib.rs
  vm/devices/net/netvsp/src/test.rs
  vm/devices/virtio/virtio_net/src/lib.rs
Labels: backport_2411

#1231 Tx GDMA error handling on 2411
  Cargo.lock
  vm/devices/net/gdma_defs/src/bnic.rs
  vm/devices/net/net_backend/Cargo.toml
  vm/devices/net/net_backend/src/lib.rs
  vm/devices/net/net_backend/src/loopback.rs
  vm/devices/net/net_backend/src/null.rs
  vm/devices/net/net_consomme/src/lib.rs
  vm/devices/net/net_dio/src/lib.rs
  vm/devices/net/net_mana/src/lib.rs
  vm/devices/net/net_packet_capture/src/lib.rs
  vm/devices/net/net_tap/src/lib.rs
  vm/devices/net/netvsp/src/lib.rs
  vm/devices/net/netvsp/src/test.rs
  vm/devices/virtio/virtio_net/src/lib.rs
Labels: release_2411
