Repository microsoft/openvmm, pull requests merged in 2025-10, with the labels that each got.

#2053 Promote a few logs to info level (#2046)
  openhcl/underhill_attestation/src/lib.rs
Labels: release_2505

#2009 uh_mem: Fix a few oversights and edge cases
  openhcl/underhill_mem/src/init.rs
  openhcl/underhill_mem/src/lib.rs
Labels: backport_2505, release-ci-required

#2077 nextest.toml: Try removing the windows unit test timeout
  .config/nextest.toml
Labels: release-ci-required

#2091 Implement update target vp call for packet capture
  vm/devices/net/net_packet_capture/src/lib.rs
Labels: backport_2505
