Repository microsoft/openvmm, pull requests merged in 2025-07, with the labels that each got.

#1613 Add attestation claim for Azure device filter
  openhcl/openhcl_attestation_protocol/src/igvm_attest/get.rs
  openhcl/underhill_attestation/src/hardware_key_sealing.rs
  openhcl/underhill_attestation/src/igvm_attest/mod.rs
  openhcl/underhill_core/src/worker.rs
Labels: backport_2505

#1631 guide: recommend one installs llvm-dev for cross compilation
  Guide/src/dev_guide/getting_started/cross_compile.md
  build_support/setup_windows_cross.sh
Labels: Guide

#1632 GET: Log the response type when we get an unexpected one (#1604)
  vm/devices/get/guest_emulation_transport/src/process_loop.rs
Labels: release_2505

#1635 Set can_trust_host if TDX debug bit is set
  Cargo.lock
  openhcl/openhcl_attestation_protocol/Cargo.toml
  openhcl/openhcl_boot/Cargo.toml
  openhcl/openhcl_boot/src/arch/x86_64/tdx.rs
  openhcl/openhcl_boot/src/main.rs
  openhcl/underhill_core/src/worker.rs
  support/tdx_guest_device/Cargo.toml
  support/tdx_guest_device/src/ioctl.rs
  support/tdx_guest_device/src/lib.rs
  support/tdx_guest_device/src/protocol.rs
  support/tee_call/Cargo.toml
  vm/loader/igvmfilegen/Cargo.toml
  vm/loader/igvmfilegen/src/main.rs
  vm/loader/manifests/openhcl-x64-cvm-dev.json
  vm/loader/manifests/openhcl-x64-cvm-release.json
  vm/x86/tdcall/Cargo.toml
  vm/x86/tdcall/src/lib.rs
Labels: release_2505

#1636 Add attestation claim for Azure device filter (#1613)
  openhcl/openhcl_attestation_protocol/src/igvm_attest/get.rs
  openhcl/underhill_attestation/src/hardware_key_sealing.rs
  openhcl/underhill_attestation/src/igvm_attest/mod.rs
  openhcl/underhill_core/src/worker.rs
Labels: release_2505

#1645 netvsp: handle invalid rndis packets (#1590)
  vm/devices/net/netvsp/src/lib.rs
  vm/devices/net/netvsp/src/test.rs
Labels: release_2411

#1646 netvsp: handle invalid rndis packets (#1590)
  vm/devices/net/netvsp/src/lib.rs
  vm/devices/net/netvsp/src/test.rs
Labels: release_2505

#1410 openhcl servicing: decrease flush logs timeout (#1385)
  openhcl/underhill_core/src/dispatch/mod.rs
Labels: release_2411

#1673 Print full CSTS value when NVMe device failed to init (#1401)
  vm/devices/storage/disk_nvme/nvme_driver/src/driver.rs
  vm/devices/storage/disk_nvme/nvme_driver/src/registers.rs
Labels: release_2505

#1674 netvsp, mana_driver: add instrumentation around parts of mana servicing (#1584)
  vm/devices/net/mana_driver/src/mana.rs
  vm/devices/net/netvsp/src/lib.rs
Labels: release_2505

#1688 nvme_driver: Added the qid field to the pending commands
  vm/devices/storage/disk_nvme/nvme_driver/src/queue_pair.rs
Labels: backport_2505

#1699 Fix TDX TLB flush offload enabled inversion
  openhcl/virt_mshv_vtl/src/processor/tdx/mod.rs
Labels: backport_2505

#1700 Fix CreateRamGpaRangeFlags to match host definition
  vm/devices/get/get_protocol/src/lib.rs
Labels: backport_2505

#1702 Fix CreateRamGpaRangeFlags to match host definition (#1700)
  vm/devices/get/get_protocol/src/lib.rs
Labels: release_2505

#1704 kmsg: Log the raw buffer if we fail to parse
  hyperv/tools/hypestv/src/windows/vm.rs
  openhcl/ohcldiag-dev/src/main.rs
  petri/src/tracing.rs
  support/kmsg/src/lib.rs
  vmm_tests/vmm_tests/tests/tests/multiarch.rs
  vmm_tests/vmm_tests/tests/tests/x86_64/openhcl_uefi.rs
Labels: backport_2505

#1709 kmsg: Log the raw buffer if we fail to parse (#1704)
  hyperv/tools/hypestv/src/windows/vm.rs
  openhcl/ohcldiag-dev/src/main.rs
  petri/src/tracing.rs
  support/kmsg/src/lib.rs
  vmm_tests/vmm_tests/tests/tests/multiarch.rs
  vmm_tests/vmm_tests/tests/tests/x86_64/openhcl_uefi.rs
Labels: release_2505

#1691 firmware_uefi: EfiDiagnostics backports for watchdog handling, tracelimit and other improvements
  Cargo.lock
  openhcl/underhill_core/src/emuplat/watchdog.rs
  openhcl/underhill_core/src/worker.rs
  openvmm/hvlite_core/Cargo.toml
  openvmm/hvlite_core/src/emuplat/mod.rs
  openvmm/hvlite_core/src/emuplat/watchdog.rs
  openvmm/hvlite_core/src/worker/dispatch.rs
  support/tracelimit/src/lib.rs
  vm/devices/firmware/firmware_uefi/src/lib.rs
  vm/devices/firmware/firmware_uefi/src/service/diagnostics.rs
  vm/devices/watchdog/watchdog_core/Cargo.toml
  vm/devices/watchdog/watchdog_core/src/platform.rs
  vmm_core/vmotherboard/src/base_chipset.rs
Labels: release_2505

#1712 openhcl/CVM: disable mnf support
  openhcl/virt_mshv_vtl/src/lib.rs
  vmm_tests/vmm_tests/tests/tests/multiarch.rs
Labels: backport_2505

#1725 firmware_uefi: Remove functionality to have inspect trigger EfiDiagnostics
  vm/devices/firmware/firmware_uefi/src/lib.rs
Labels: backport_2505

#1732 underhill_crash: Backport Add openhcl_version to underhill crash traces
  openhcl/underhill_crash/src/lib.rs
Labels: release_2505

#1735 underhill_crash: Backport Add openhcl_version to underhill crash traces (2411)
  openhcl/underhill_crash/src/lib.rs
Labels: release_2411

#1737 PCI: Also log the offset on access failures (#1729)
  vm/devices/pci/pci_bus/src/lib.rs
Labels: release_2505

#1749 nvme_manager: Instrument nvme_get_namespace span on call, not handler
  openhcl/underhill_core/src/nvme_manager.rs
Labels: release_2411

#1745 IDE: Dont warn on reads from undefined cfg space offsets
  vm/devices/storage/ide/src/lib.rs
  vmm_core/vmotherboard/src/base_chipset.rs
Labels: backport_2505

#1753 vpci: clear config space mappings upon vmbus channel disconnect (#1722)
  vm/devices/pci/vpci/src/device.rs
Labels: release_2505

#1738 gen1: Only consider the first ram block when locating PCAT mappings
  openhcl/underhill_core/src/worker.rs
Labels: backport_2505

#1740 i440bx: Update and ignore more config space registers
  vm/devices/chipset_legacy/src/i440bx_host_pci_bridge.rs
Labels: backport_2505

#1760 petri: extra wait for shutdown ic, move to generic
  petri/src/vm/hyperv/mod.rs
  petri/src/vm/hyperv/vm.rs
  petri/src/vm/mod.rs
  petri/src/vm/openvmm/runtime.rs
  petri/src/vm/openvmm/start.rs
  vmm_tests/petri_artifacts_vmm_test/src/lib.rs
Labels: backport_2505

#1751 nvme_driver: don't flr nvme devices (#1714)
  openhcl/underhill_core/src/lib.rs
  openhcl/underhill_core/src/nvme_manager.rs
  openhcl/underhill_core/src/options.rs
  openhcl/underhill_core/src/worker.rs
Labels: release_2411

#1752 nvme_driver: don't flr nvme devices (#1714)
  openhcl/underhill_core/src/lib.rs
  openhcl/underhill_core/src/nvme_manager.rs
  openhcl/underhill_core/src/options.rs
  openhcl/underhill_core/src/worker.rs
Labels: release_2505

#1747 shutdown_ic: version negotiation packet should trigger state reset
  vm/devices/hyperv_ic_guest/src/shutdown.rs
Labels: release_2505

#1758 i440bx: Update and ignore more config space registers (#1740)
  vm/devices/chipset_legacy/src/i440bx_host_pci_bridge.rs
Labels: release_2505

#1764 CVM: Move logic around memory faults from TDX to be shared with SNP, send memory intercepts
  Cargo.lock
  openhcl/underhill_mem/Cargo.toml
  openhcl/underhill_mem/src/mapping.rs
  openhcl/virt_mshv_vtl/src/processor/hardware_cvm/mod.rs
  openhcl/virt_mshv_vtl/src/processor/snp/mod.rs
  openhcl/virt_mshv_vtl/src/processor/tdx/mod.rs
  vm/vmcore/guestmem/src/lib.rs
  vm/x86/x86defs/src/snp.rs
Labels: backport_2505

#1771 CVM: Move logic around memory faults from TDX to be shared with SNP, send memory intercepts (#1764)
  Cargo.lock
  openhcl/underhill_mem/Cargo.toml
  openhcl/underhill_mem/src/mapping.rs
  openhcl/virt_mshv_vtl/src/processor/hardware_cvm/mod.rs
  openhcl/virt_mshv_vtl/src/processor/snp/mod.rs
  openhcl/virt_mshv_vtl/src/processor/tdx/mod.rs
  vm/vmcore/guestmem/src/lib.rs
  vm/x86/x86defs/src/snp.rs
Labels: release_2505

#1786 vmotherboard: Fix restore errors from pci rename
  vmm_core/vmotherboard/src/base_chipset.rs
Labels: backport_2505

#1791 vmotherboard: Fix restore errors from pci rename (#1786)
  vmm_core/vmotherboard/src/base_chipset.rs
Labels: release_2505

#1776 vmcore/vm_topology: support pmu interrupt on aarch64
  openhcl/underhill_core/src/worker.rs
  openvmm/hvlite_core/src/worker/dispatch.rs
  openvmm/hvlite_defs/src/config.rs
  openvmm/openvmm_entry/src/lib.rs
  petri/src/vm/openvmm/construct.rs
  tmk/tmk_vmm/src/run.rs
  vm/acpi_spec/src/madt.rs
  vm/vmcore/vm_topology/src/processor/aarch64.rs
  vmm_core/src/acpi_builder.rs
  vmm_tests/vmm_tests/tests/tests/aarch64_exclusive.rs
  vmm_tests/vmm_tests/tests/tests/main.rs
Labels: backport_2505

#1795 deps: update nextest to latest 0.9.101 (#1790)
  flowey/flowey_lib_hvlite/src/_jobs/cfg_versions.rs
Labels: release_2505
