Repository microsoft/openvmm, pull requests merged in 2025-05, with the labels that each got.

#1291 CI: remove unused unsafe review workflow
  .github/scripts/add_unsafe_reviewers/add-unsafe-reviewers.py
  .github/scripts/add_unsafe_reviewers/requirements.txt
  .github/workflows/unsafe-reviewers.yml
Labels: release_2411

#1289 Avoid NVRAM out-of-space issue
  vm/devices/tpm/src/tpm_helper.rs
Labels: release_2411

#771 netvsp: Mismatched Indirection Table error on servicing
  vm/devices/net/netvsp/src/lib.rs
  vm/devices/net/netvsp/src/test.rs
Labels: backport_2411

#1327 netvsp: Mismatched Indirection Table error on servicing ( #771) 2411
  vm/devices/net/netvsp/src/lib.rs
  vm/devices/net/netvsp/src/test.rs
Labels: release_2411

#1373 CI: Update release/2505 branch mirroring
  .github/scripts/refresh_mirror/refresh-mirror.py
Labels: release_2505

#1374 CI: Update mirror workflow branch trigger
  .github/workflows/refresh-mirror.yml
Labels: release_2505

#1377 openhcl: disable nvme keepalive
  openhcl/underhill_core/src/dispatch/mod.rs
  vm/devices/get/get_protocol/src/lib.rs
  vm/devices/get/guest_emulation_device/src/lib.rs
Labels: release_2411

#1387 TDX: Pull TLB flush ringbuf struct into support/, add tests
  .config/nextest.toml
  Cargo.lock
  Cargo.toml
  openhcl/virt_mshv_vtl/Cargo.toml
  openhcl/virt_mshv_vtl/src/processor/tdx/tlb_flush.rs
  support/atomic_ringbuf/Cargo.toml
  support/atomic_ringbuf/src/lib.rs
  vm/hv1/hvdef/src/lib.rs
  xtask/src/tasks/fmt/house_rules/cfg_target_arch.rs
Labels: backport_2505

#1308 CVM: Set GuestCrashRegsAvailable in cpuid
  openhcl/virt_mshv_vtl/src/cvm_cpuid/snp.rs
  openhcl/virt_mshv_vtl/src/cvm_cpuid/tdx.rs
Labels: backport_2505

#1392 Repo: Lock to our rust version for this release branch
  rust-toolchain.toml
Labels: release_2505

#1385 openhcl servicing: decrease flush logs timeout
  openhcl/underhill_core/src/dispatch/mod.rs
Labels: backport_2411, backport_2505

#1402 cvm_tracing: Allow untagged tracing statements by default
  Guide/src/reference/openhcl/diag/cvm_restrictions.md
  vm/cvm_tracing/src/lib.rs
Labels: Guide, backport_2505

#1403 CVM: Set GuestCrashRegsAvailable in cpuid (#1308)
  openhcl/virt_mshv_vtl/src/cvm_cpuid/snp.rs
  openhcl/virt_mshv_vtl/src/cvm_cpuid/tdx.rs
Labels: release_2505

#1393 TDX: Pull TLB flush ringbuf struct into support/, add tests (#1387)
  .config/nextest.toml
  Cargo.lock
  Cargo.toml
  openhcl/virt_mshv_vtl/Cargo.toml
  openhcl/virt_mshv_vtl/src/processor/tdx/tlb_flush.rs
  support/atomic_ringbuf/Cargo.toml
  support/atomic_ringbuf/src/lib.rs
  vm/hv1/hvdef/src/lib.rs
  xtask/src/tasks/fmt/house_rules/cfg_target_arch.rs
Labels: release_2505

#1421 flowey: fix saving secret vars (#1417)
  flowey/flowey_cli/Cargo.toml
  flowey/flowey_cli/src/cli/var_db.rs
  flowey/flowey_cli/src/var_db/single_json_file.rs
Labels: release_2505

#1406 cvm_tracing: Allow untagged tracing statements by default (#1402)
  Guide/src/reference/openhcl/diag/cvm_restrictions.md
  vm/cvm_tracing/src/lib.rs
Labels: Guide, release_2505

#1340 openhcl/tdx: inject machine check on ept exits caused by bad guest addresses
  openhcl/virt_mshv_vtl/src/processor/snp/mod.rs
  openhcl/virt_mshv_vtl/src/processor/tdx/mod.rs
  vm/vmcore/vm_topology/src/memory.rs
Labels: backport_2505

#1434 openhcl/tdx: inject machine check on ept exits caused by bad guest addresses (#1340)
  openhcl/virt_mshv_vtl/src/processor/snp/mod.rs
  openhcl/virt_mshv_vtl/src/processor/tdx/mod.rs
  vm/vmcore/vm_topology/src/memory.rs
Labels: release_2505

#1440 sidecar: zero initialize unmapped register page
  openhcl/sidecar/src/arch/x86_64/init.rs
  openhcl/sidecar/src/arch/x86_64/mod.rs
  openhcl/sidecar/src/arch/x86_64/vp.rs
Labels: backport_2505

#1441 sidecar: zero initialize unmapped register page (#1440)
  openhcl/sidecar/src/arch/x86_64/init.rs
  openhcl/sidecar/src/arch/x86_64/mod.rs
  openhcl/sidecar/src/arch/x86_64/vp.rs
Labels: release_2505

#1442 kernel: update main and dev kernels with fix for sidecar
  flowey/flowey_lib_hvlite/src/_jobs/cfg_versions.rs
Labels: backport_2505

#1408 CVM: Audit tracing and add ALLOWED/CONFIDENTIAL where appropriate
  Cargo.lock
  openhcl/diag_server/Cargo.toml
  openhcl/diag_server/src/diag_service.rs
  openhcl/diag_server/src/lib.rs
  openhcl/hcl/Cargo.toml
  openhcl/hcl/src/ioctl.rs
  openhcl/hcl/src/ioctl/deferred.rs
  openhcl/profiler_worker/src/lib.rs
  openhcl/underhill_core/src/dispatch/mod.rs
  openhcl/underhill_core/src/dispatch/pci_shutdown.rs
  openhcl/underhill_core/src/dispatch/vtl2_settings_worker.rs
  openhcl/underhill_core/src/emuplat/firmware.rs
  openhcl/underhill_core/src/emuplat/local_clock.rs
  openhcl/underhill_core/src/emuplat/watchdog.rs
  openhcl/underhill_core/src/get_tracing.rs
  openhcl/underhill_core/src/get_tracing/kmsg_stream.rs
  openhcl/underhill_core/src/inspect_proc.rs
  openhcl/underhill_core/src/lib.rs
  openhcl/underhill_core/src/livedump.rs
  openhcl/underhill_core/src/loader/mod.rs
  openhcl/underhill_core/src/loader/vtl0_config.rs
  openhcl/underhill_core/src/vp.rs
  openhcl/underhill_core/src/worker.rs
  openhcl/underhill_mem/Cargo.toml
  openhcl/underhill_mem/src/init.rs
  openhcl/underhill_mem/src/lib.rs
  openhcl/underhill_mem/src/registrar.rs
  openhcl/underhill_threadpool/Cargo.toml
  openhcl/underhill_threadpool/src/lib.rs
  openhcl/virt_mshv_vtl/src/cvm_cpuid/mod.rs
  openhcl/virt_mshv_vtl/src/cvm_cpuid/tdx.rs
  openhcl/virt_mshv_vtl/src/lib.rs
  openhcl/virt_mshv_vtl/src/processor/hardware_cvm/apic.rs
  openhcl/virt_mshv_vtl/src/processor/hardware_cvm/mod.rs
  openhcl/virt_mshv_vtl/src/processor/mod.rs
  openhcl/virt_mshv_vtl/src/processor/snp/mod.rs
  openhcl/virt_mshv_vtl/src/processor/tdx/mod.rs
  vm/devices/firmware/firmware_uefi/src/service/time.rs
  vm/devices/firmware/hcl_compat_uefi_nvram_storage/Cargo.toml
  vm/devices/firmware/hcl_compat_uefi_nvram_storage/src/lib.rs
  vm/devices/get/guest_emulation_transport/src/process_loop.rs
  vm/devices/tpm/Cargo.toml
  vm/devices/tpm/src/lib.rs
  vm/devices/tpm/src/tpm_helper.rs
  vmm_core/Cargo.toml
  vmm_core/src/partition_unit/vp_set.rs
  vmm_core/vmotherboard/Cargo.toml
  vmm_core/vmotherboard/src/base_chipset.rs
  vmm_core/vmotherboard/src/chipset/mod.rs
Labels: backport_2505

#1453 Update ms-tpm-20-ref-rs package (#1452)
  Cargo.lock
Labels: release_2505
