Repository microsoft/openvmm, pull requests merged in 2025-03, with the labels that each got.

#915 TDX: Fill in get_vsm_capabilities and properly mark DR6 as shared
  openhcl/hcl/src/ioctl.rs
  openhcl/virt_mshv_vtl/src/processor/hardware_cvm/mod.rs
Labels: release_2411

#949 flowey: update cargo logic to support custom CARGO_TARGET_DIR
  flowey/flowey_core/src/pipeline.rs
  flowey/flowey_lib_common/src/run_cargo_build.rs
  flowey/flowey_lib_common/src/run_cargo_doc.rs
Labels: backport_2411, backport_2411_approved

#951 release/2411: flowey: fix rust toolchain detection on rustup 1.28.0+ (#944)
  flowey/flowey_lib_common/src/install_rust.rs
Labels: release_2411

#950 release/2411: flowey: update cargo logic to support custom CARGO_TARGET_DIR (#949)
  flowey/flowey_core/src/pipeline.rs
  flowey/flowey_lib_common/src/run_cargo_build.rs
  flowey/flowey_lib_common/src/run_cargo_doc.rs
Labels: release_2411

#957 release/2411: hotfix for #950
  flowey/flowey_lib_common/src/run_cargo_build.rs
Labels: release_2411

#963 vmbus_client: handle host backpressure properly
  support/pal/pal_async/src/timer.rs
  vm/devices/vmbus/vmbus_client/src/lib.rs
  vm/devices/vmbus/vmbus_client/src/saved_state.rs
  vm/devices/vmbus/vmbus_relay/src/lib.rs
Labels: release_2411

#986 minimal_rt: Add ARM64 stack guard intrinsics (#660)
  openhcl/minimal_rt/src/arch/aarch64/intrinsics.rs
Labels: release_2411

#1007 netvsp: take recent fixes to release/2411
  vm/devices/net/netvsp/src/lib.rs
  vm/devices/net/netvsp/src/test.rs
Labels: release_2411

#1022 Add conditional check for hardware breakpoint in VMX exit handling
  openhcl/virt_mshv_vtl/src/processor/tdx/mod.rs
Labels: release_2411

#1052 virt_mshv_vtl: use BTreeMap for cvm cpuid subleafs
  openhcl/virt_mshv_vtl/src/cvm_cpuid/mod.rs
Labels: release_2411

#1051 virt_mshv_vtl: use BTreeMap for cvm cpuid subleafs
  openhcl/virt_mshv_vtl/src/cvm_cpuid/mod.rs
Labels: backport_2411

#946 Guide: Add some links to the suggested dev env
  Guide/src/dev_guide/getting_started/suggested_dev_env.md
  Guide/src/dev_guide/getting_started/windows.md
Labels: Guide

#1042 release/2411: netvsp: assign any extra receive buffers to the last active queue (#1…
  vm/devices/net/netvsp/src/lib.rs
  vm/devices/net/netvsp/src/test.rs
Labels: release_2411

#1079 Tx segment coalesce backport to 2411
  vm/devices/net/net_mana/src/lib.rs
Labels: release_2411

#1080 underhill_mem: cvm: don't register shared memory with the kernel
  openhcl/underhill_core/src/worker.rs
  openhcl/underhill_mem/src/init.rs
Labels: backport_2411

#1081 underhill_mem: cvm: don't register shared memory with the kernel
  openhcl/underhill_core/src/worker.rs
  openhcl/underhill_mem/src/init.rs
Labels: release_2411

#1098 virt_mshv_vtl/tdx: log more info for bad guest state exits (#1092)
  openhcl/virt_mshv_vtl/src/processor/mod.rs
  openhcl/virt_mshv_vtl/src/processor/tdx/mod.rs
  vm/x86/x86defs/src/vmx.rs
Labels: release_2411

#1103 virt_mshv_vtl/tdx: log vmcs efer on vm enter failures
  openhcl/virt_mshv_vtl/src/processor/tdx/mod.rs
Labels: release_2411

#1099 Record a livedump of OpenHCL when hitting a guest or uefi watchdog timeout (#1093)
  Cargo.lock
  openhcl/underhill_core/src/emuplat/watchdog.rs
  openhcl/underhill_core/src/lib.rs
  openhcl/underhill_core/src/livedump.rs
  openhcl/underhill_core/src/worker.rs
  openhcl/underhill_crash/Cargo.toml
  openhcl/underhill_crash/src/lib.rs
  openhcl/underhill_crash/src/options.rs
  openhcl/underhill_dump/Cargo.toml
  openhcl/underhill_dump/src/lib.rs
  openvmm/hvlite_entry/src/cli_args.rs
  openvmm/hvlite_entry/src/lib.rs
Labels: release_2411

#1108 guide: note github sign-in requirement to download artifacts
  Guide/src/user_guide/openvmm/run.md
Labels: Guide

#1115 guide: fix broken links to openvmm.dev
  Guide/src/dev_guide/getting_started/build_openvmm.md
Labels: Guide
